---
import Layout from "../layouts/Layout.astro";
---

<Layout title = "About">

        <h1> About </h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut nulla, hic veritatis architecto amet eum, et nobis possimus in tenetur animi excepturi autem dicta iusto nisi ullam molestiae, quas eveniet ipsum dignissimos maxime deserunt veniam? Nulla iure quibusdam eos reiciendis blanditiis eum, est tenetur iste, atque corrupti amet ad quisquam accusantium neque vitae. Nostrum inventore dicta cumque, vero amet obcaecati dolore cum porro veniam, velit quo magnam, ad quisquam aperiam tenetur aliquam tempore consequuntur? Officia neque quasi doloremque praesentium maxime eius vitae aperiam ipsa reiciendis mollitia commodi rerum, sequi deserunt laudantium ullam, ut, placeat quaerat consectetur maiores excepturi totam omnis.</p>
</Layout>